// --- 1. Definizione Palette Brand ---
$spicy-paprika: #dc5031;
$carbon-black: #312d20;
$indigo: #700aff;
$magenta: #9e4289;
$light-gold: #f7f5de;

// --- 2. Import delle funzioni di Bootstrap (NECESSARIO PRIMA dei mapping) ---
@import "bootstrap/scss/functions";

// --- 3. Mappatura su Bootstrap (Theme Colors) ---
$primary: $indigo;
$secondary: $magenta;
$warning: $spicy-paprika;
$dark: $carbon-black;
$light: $light-gold;

// --- 4. Import del resto della struttura di Bootstrap ---
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/bootstrap";

// --- 5. Utility di Brand Custom ---
.text-brand-orange {
  color: $spicy-paprika !important;
}
.text-brand-magenta {
  color: $magenta !important;
}

.background-brand {
  background: linear-gradient(135deg, #700aff 0%, #9e4289 50%, #e35226 100%);
}

.backgound2 {
  background: #fbfaef;
}

/* Sfumature decorative posizionate agli angoli della colonna */
.bg-glow-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 0;
}

.glow-blob-1 {
  position: absolute;
  top: -10%; // angolo in alto
  right: -10%;
  width: 350px;
  height: 350px;
  background: linear-gradient(
    135deg,
    rgba(111, 45, 168, 0.312),
    rgba(250, 156, 69, 0.519)
  ); // Tonalità viola/arancio
  filter: blur(80px);
  border-radius: 50%;
}

.glow-blob-2 {
  position: absolute;
  bottom: -10%; // angolo in basso
  left: -10%;
  width: 400px;
  height: 400px;
  background: linear-gradient(
    135deg,
    rgba(111, 45, 168, 0.312),
    rgba(250, 156, 69, 0.519)
  ); // Tonalità arancio/viola
  filter: blur(90px);
  border-radius: 50%;
}
