@media (max-width: 576px) {
  .form-control {
    font-size: 0.8rem !important;
    padding: 0.25rem 0.5rem !important;
  }

  .small-text {
    font-size: 0.8rem !important;
  }

  .smaller-text {
    font-size: 0.6rem !important;
  }

  .small-title {
    font-size: 1.1rem !important;
  }
}
